.bootstrapbutton{
    width: 80%;
}


.img-fluid{
    width: 100%;
    max-height:790px;

}
body{
    margin: 0;
    overflow-x: hidden;
}
.contentdiv{
    display: flex;
    flex-direction: column;
    justify-content: end;
}



.col-md-4 p {
    display: block; 
    margin: 0;
  }
  
  
  @media (max-width: 576px) {
    .col-md-4 p {
      display: inline; 
    }
  }
  .col-lg-2 ul{
    list-style-type: none;
}

@media (max-width: 768px){
   .inputdiv{
    display: flex;
   }
}

.container-fluid {
    height: auto;
  }
  .col-md-6 ul{
    list-style-type: none;
    display: flex;
  }
  .endfooter{
    margin-top: 1px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .endfooterlist li{
    list-style-type: none;
    display: inline;
   
  }
  @media (max-width: 634px) {
    .endfooterlist li {
      font-size: 10px; 
    }
  }
  @media (max-width: 634px) {
    .footericons a i {
      font-size: 15px !important; 
    }
    .endfooterlist li{
        margin:0;
        padding: 0;
    }
  }

  @media (max-width: 800px) {
    .india{
        display: flex;
      align-items:end; 
      justify-content: end;
  }
}